# Copy this file to `.env` and adjust for your machine.
# Change the postgres password to the one you set during install.

DATABASE_URL=postgres://postgres:jeevansetu@2026@localhost:5432/jeevansetu
JWT_SECRET=some-long-random-string
PORT=4000